@tailwind preflight;
@tailwind components;
.layout1-hero {
    @apply .bg-top .bg-no-repeat .bg-cover;
    background: 
        linear-gradient(
            rgba(183, 0, 24, 0.30), 
            rgba(183, 0, 24, 0.30)
        ),
        url('../../images/hero.jpg');
    height: 400px;
    @media only screen and (max-width: 767px) {
        height: 250px;
    }
}
@tailwind utilities;
